/* El archivo base.css inyectado por defecto de la integración */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {

    /* For Webkit-based browsers (Chrome, Safari and Opera) */
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    /* For IE, Edge and Firefox */
    .scrollbar-hide {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}

/* Button Primary */
.btn-primary {
    @apply cursor-pointer font-button uppercase font-medium text-white bg-neutral-950 transition-all duration-300 shadow-lg;
}

.btn-primary:hover {
    @apply bg-neutral-900 shadow-xl brightness-110;
}

.btn-primary:active {
    @apply ring ring-neutral-50/30;
}

.btn-primary:focus {
    @apply ring ring-neutral-50/30;
}